<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings configProtectionProvider="datashield">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>gu7z1bs/x+pMNLWWXmRaBJuYHp80rkRHhAfkJG2Ov+ejnsh+xfoWRcfbeDj3yzF0cAwXwt790XNlyfYff6Fy/MAqn2rczzAXBgnLd+0iOShquGlr7TJcAcEEmGeBHPzO341B3PB35w4oRCimxiMQY+C9pE41YJxpiIdOoU39Pkg=</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>PhgEvmrDy1iCQokgBD3OHZ0IZkv44NkhVqFpB/G+6HRRJzMk7aRnX72TkH/EU1ntu9NYDF3XzMB+tzUHxrcMeH4FiRtQkrUrpBP6rZYfbKpphN6SLYYHnOKqrDApTq0NR43R1jZQRlLvVb9VmvtAFWaHDc12Wao7MBBQM69zN05h5OO0yY4+jjvkDJaynAg/</CipherValue>
   </CipherData>
  </EncryptedData>
 </appSettings>
	<configProtectedData>
		<providers>
			<add name="datashield"
     type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
     keyContainerName="datashield"
     useMachineContainer="true" />
		</providers>
	</configProtectedData>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>