<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings configProtectionProvider="datashield">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>ToEbw3XmZbxnon5vPbbtvL4woKzEZjXT94d/HJx+KN8dKQMhRJTZLhJEcJXvC/wgywyWdfTBglO+3yim0TwnsHyMWVwxAntR30ifcY7Tph1J7SE6lBbIcHfOa0QtfAIsE+WDsPKChRLAomdiCZ/JBzB9dYKH6Al3WF/cxnOuHV0=</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>iv7iT3xZfla3gnIy4qbBycuYX+reEmCg17jjDYlEGHlGucnglC2yImAnKap/cmqXiN5LujVo5kEKezRLxgKsP9XiXa1koJ4XMZd6iiu2W0SHA0xZ0kjZJseoBpK2VffJBZk361pyiEK76oZK8Gzm03km6wjVxIUxA+4kZSaunGGWsMxNQvNyuE3YaJv3szr0OKQKU9+atSLVDC3dtHtGbudgjcoLyccZCjgD2oaZIP4s+Vz2pqLwAdQ6KH6iTHsk3kIGSuV6vbiRT5A8z8ezGl6ojxo2YPdrg2SHK28z2KU8aOGcemSjkkKVvZS6yW5UPIovksDHGJtAUgupk4mVlj6RnmnO0Zv2oHqaH6wPPhtAVABKyAZFig==</CipherValue>
   </CipherData>
  </EncryptedData>
 </appSettings>
	<configProtectedData>
		<providers>
			<add name="datashield"
     type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
     keyContainerName="datashield"
     useMachineContainer="true" />
		</providers>
	</configProtectedData>
</configuration>