<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings configProtectionProvider="datashield">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>OWb1nrphTroP7DZr38SyviDlNBwtbc4/XbuV7JkJLB21kprQQqEjZOPBh/9MigVTv5EyzIYetwwvGNu5ISijvecM/iI5dAAwt2qFlBAcR7BwR3hvOM5bonmn3b+If7XQFvrz27JE+k/R0uJA21hOVBGm5iPnkb92P1RtevvvKHc=</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>Yrj9+nNrnj94PPmgfZ929l8EoqJ7bY5THZ6FO+NzDVG1kLcDfM1vKP/2l9fSLUG+w6dcw+hZ4CAU0pe83a64IYF6L7IDm2SdVG0ieA36yjYxqK4aztP8j7ZVFOvftSeWR1yBrDAmQzZcJNARRViZ+YDxBvnxQD+FzChK2hme/QKmfChQ6+dMwkgqguYkOsdfA7b/j1gwiDyBpuEaIDLHg1bNXZGuwRrm1UCz1AHPFnT1r27RA7T7d/Xiu8r+TggAYkz5gRFJOysC+OHHps1eDgb/jwrpnu251uDgV10x63Rgax/rLBUsA5H0YsXlY65/H/UpZ5Ji8LBT8Bxr3KTb79rMyjWs4bbpxg58eXN/NtFXuYZ5C8MThapcTYRyTuGJff3UM2nAA9Av7cRDRmt+Q3JlSyNTakfDY7OXRLv+oMnuxpK1xYoNpjf4I/UuifX0CIeFwLUR+Zu0LSIYrBZFbmo3gQ0oQN/VjB/KXJ9WL4c+5LyxJlgsC9RIsLCiCWbn9F3MM/CVSaDH6/fL/l904SsRk0eLmju6G8No5PNvJq/Rmyu393gvUTme8wmHXcvEeYKsY7tNH5cpXfAjx4p4NsYGxcCwYwQx</CipherValue>
   </CipherData>
  </EncryptedData>
 </appSettings>
	<configProtectedData>
		<providers>
			<add name="datashield"
     type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
     keyContainerName="datashield"
     useMachineContainer="true" />
		</providers>
	</configProtectedData>
</configuration>